.SpaceListElement__Card {
	margin: 1em 0 !important;
	cursor: default !important;
}

.SpaceListElement__Card main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.SpaceListElement__Card main  section {
	width: 30%;
}

.SpaceListElement__Card main ul {
	 padding-left: 0;
}

.SpaceListElement__Card main li {
	list-style: none;
}